# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#others
video_to_rtmp/build/CMakeCache.txt
video_to_rtmp/build/cmake_install.cmake
video_to_rtmp/build/Makefile
video_to_rtmp/build/CMakeFiles/*
video_to_rtmp/build/lib/*
video_to_rtmp/build/bin/*
video_to_rtmp/build/ALL_BUILD.vcxproj
video_to_rtmp/build/ALL_BUILD.vcxproj.filters
video_to_rtmp/build/ZERO_CHECK.vcxproj
video_to_rtmp/build/ZERO_CHECK.vcxproj.filters
video_to_rtmp/build/x64
video_to_rtmp/build/video_to_rtmp.dir
video_to_rtmp/build/video_to_rtmp.sln
video_to_rtmp/build/video_to_rtmp.vcxproj
video_to_rtmp/build/video_to_rtmp.vcxproj.filters